

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;  
  }


.top {
  display: flex;
  flex-direction: row;
  background-color: #6EE768;
 
  border-bottom-style: solid;
  border-bottom-color: #078600;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 48px;
  width: 400px;
  height: 40px;
 }
button {
  width: 32px;
  height: 32px;
  background-color: #E868AB;
  border-color: #870047;
  border-radius: 11px;
  margin: 10px;
}

.name {
  font-family: 'Roboto', sans-serif; 
  color: #078600;
  font-size: 32px;  
}

.navtop {
  height: 100%;
  display: flex;
  align-items: center;
    }

.navtoplist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navtoplist_item {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding-right: 16px;
  align-items: center;
  justify-content: center;
}

.navtoplist_item a {
  color: #078600;
  text-decoration: none;
}

.navtoplist_item img:hover {
  border:#078600
}

.navtoplist_item a:hover {
  text-decoration: underline;
}
.topmain {
  
  background-color: #6EE768;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 48px;
  border-bottom-style: solid;
  border-bottom-color: #078600;
   }

.greating {
  color: #078600;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin: 48px;
 }

.description {
  font-family: 'Roboto', sans-serif; 
  color: #078600;
  font-size: 72px;
  display: flex;
  flex-direction: column;
}

.writeme {
  width: 280px;
  height: 88px;
  background-color: #E868AB;
  border-color: #870047;
  border-width: 1px;
  border-radius: 32px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.writeme_textstyle {
  font-family: 'Roboto', sans-serif; 
  color: #078600;
   font-size: 36px;
  
}

.add_type {
  display: inline-flex;
  flex-direction: row;
}

.button-link {
   text-decoration: none;
  
}

.writeme_textstyle:hover {
  color: #42E73A;
}

.add_type_button:hover {
  color: #42E73A;
}

.add_type_button {
  width: 290px;
  height: 98px;
  background-color: #E868AB;
  border-color: #870047;
  border-width: 1px;
  border-radius: 32px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: 'Roboto', sans-serif; 
  color: #078600;
   font-size: 36px;
}

.modalwin { 
  height: 190px;  
  width: 330px;
  border: 3px outset gray; 
  border-color: #870047;
  border-radius:30px;
  background: wheat;
  top: 20%; 
  right: 0;
  left: 0;
  font-size: 14px; 
  margin: 0 auto;
  z-index:2; 
  display: none;  
  position: fixed; 
  padding: 15px;
  border: 1px solid #383838;

}


#shadow { 
  position: fixed;
  width:100%;
  height:100%;
  z-index:1; 
  background:#000;
  opacity: 0.5; 
  left:0;
  top:0;
}

.about_school {
  display: flex;
  flex-direction: row;  
}

.about_school_picture {
  margin-right: 20px;
}

.about_school_text {
  display: flex;
  flex-direction: column;
  
}

.link {
  color: #078600;
}

.big_picture {
  display: inline-block;
  align-self: center;
  margin-right: 48px; 
  width:40%; 
 }

 .introduction {
 
  margin: 48px;
  
 }

.introduction_structure {
  display: flex;
  flex-direction: row;
  
  
}

 .nickname {
  display: flex;
  flex-direction: row;

 }

#introduction, #work, #article, #contacts {
  font-family: 'Roboto', sans-serif; 
  color: #078600;
  font-size: 48px;
  padding: 6px;
}

 .reviews {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
 }

 .star {
  display: flex;
  flex-direction: row;
  padding: 3px;
 }

h4 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif; 
  color: #870047;
  padding-bottom: 24px;
  word-break: break-word;

}

h5 {
  font-size: 21px;
  padding-bottom: 6px;
  word-break: break-word;
}

.review_person {
  font-size: 21px;
}

.review_line {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.review_person_position {
   font-size: 12px;
}

.review_common {
  margin-left: 12px;
} 

.introduction_description {
  margin-left: 124px;

}

.introduction_numbers {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  margin-bottom: 48px;
 
    
}

.intr_numb {
  color: #870047;
  font-size: 48px;
  
}

.intr_let {
  font-size: 24px;
    
}

.introduction_figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.work {
 
  margin: 48px;
}

.work_start_end {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.work_start_end_article, .work_others {
  padding: 8px;
}

.work_article_title {
  display: flex;
  color:#870047;
  font-size: 24px;
  max-width: 70%;

}

.work_description {
 display: flex;
 flex-direction: row;
 color:#870047;
 font-size: 12px;
 margin-bottom: 24px;
 max-width: 75%;
 
}

.etc_common {
  display: flex;
  flex-direction: row;

}
.etc {
  width: 200px;
  height: 120px;  
  background-color:#E868AB;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etc_common div:nth-child(1) {
  flex-grow: 0.8;
}


.etc_textstyle {
  color:#078600;
  justify-items: center;
  font-size: 36px;
}

.etc_textstyle:hover {
  color: #42E73A;
}

.article  {
    margin: 48px;
    margin-bottom: 48px;
    border-width: 2px;
    border-color: #078600;
  }

.article_common_block {
  background-color: #6EE768;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 8px;
  padding-left: 8px;
  


}



.article_title_block {
  font-size: 36px;
  color: #078600;
}

.article_block {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

}

.article_text {
  font-size: 20px;
  color: #870047;
  word-break: break-word;
}

.contacts  {
  
  padding: 48px;
  background-color: #6EE768;
  border-top-style:solid;
  border-top-color: #078600;
}

.connect {
  color: #2D9B27;
  font-size: 32px;
}

.mind {
  color: #870047;
  font-size: 32px;
}

.contact_text {
  color:#870047;
  font-size: 16px;
}

.form {
  margin:12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content:center;
}

@media screen and (max-width: 1000px) {
  .big_picture {
      display: none;
  };

  .article_block {
      display: grid; 
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
           
    };


}